DISCORD_TOKEN ='DISCORD TOKEN'
GOOGLE_AI_KEY = 'YOUR_GEMINI_API_KEY'
QOTDTARGET = daily DSA channel                                        
RIDDLECHANNEL = channel for riddles
PINGROLE = 'role name for dsa daily'
POSTTIME = daily question post time in hours
